{% extends 'base.html' %}

{% load static %}

{% block title %} Restablecer Contraseña {% endblock %}

{% block content %} 
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-custom text-white" style="border-radius: 1rem;background-color:#262636">
                    <div class="card-body p-4 text-center">
                        <div class="mb-md-1 mt-md-3 pb-2">
                            <h2 class="fw-bold mb-2 text-uppercase">Restablecer contraseña</h2>
                            <p class="text-white-50 mb-5">Por favor ingresa tu email y contraseña Nueva</p>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-outline mb-4" style="align-items:center">
                                    <div class="form-outline custom-input">
                                        <label class="form-label" for="login">Correo Electronico</label>
                                        <input type="text" id="login" name="username_or_email" placeholder="Email" required />
                                    </div>
                                    <div class="form-outline custom-input my-3">
                                        <label class="form-label" for="login">Contraseña nueva</label>
                                        <input type="password" id="login" name="new_password" placeholder="Ingresa tu contraseña nueva" required />
                                    </div>
                                    <div class="form-outline custom-input my-3">
                                        <label class="form-label" for="login">Confirmar contraseña nueva</label>
                                        <input type="password" id="login" name="confirm_password" placeholder="Confirma tu contraseña nueva" required />
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-outline-light btn-lg px-6 my-3" value="Restablecer Contraseña">
                            </form>
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
{% endblock %}