{% extends 'base.html' %}

{% load static %}

{% block title %} Editar Video {% endblock %}

{% block content %}
<section class="vh-100" id="subidaVideo">
    <div class="container-fluid py-8 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                <div class="card bg-dark text-white" id="FormSubida">
                    <div class="card-body p-1 text-center" >
                        <div class="mt-md-3">
                            <h2 class="fw-bold mb-2 text-uppercase">Editar video</h2>
                            <div class="form-outline mb-4">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="{{ form.titulo.id_for_label }}" class="form-label">Título:</label>
                                        {{ form.titulo }}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.descripcion.id_for_label }}" class="form-label">Descripción:</label>
                                        {{ form.descripcion }}
                                    </div>
                                    <button type="submit" class="btn btn-outline-light btn-block mb-4" id="botomSubida">Guardar Cambios</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <a href="{% url 'perfil'%}">Volver al video</a>
{% endblock %}