{% extends 'base.html' %}

{% load static %}

{% block title %} Registro {% endblock %}

{% block content %}
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-5">
                    <div class="card text-white bg-custom" style="border-radius: 1rem;background-color:#262636">
                        <div class="card-body p-5 text-center">
                            <h2 class="text-uppercase fw-bold text-center mb-2">Crear una cuenta</h2>
                            <p class="text-white-50 mb-5">Por favor ingresa tus datos</p>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>
                                <div class="form-outline mb-4">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>
                                <div class="form-outline mb-4">
                                    {{ form.password1.label_tag }}
                                    {{ form.password1 }}
                                </div>
                                <div class="form-outline mb-4">
                                    {{ form.password2.label_tag }}
                                    {{ form.password2 }}
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-light btn-lg px-5">Registrarse</button>
                                </div>
                                <div>
                                    <p class="text-center mt-5 mb-0">¿Ya creaste una cuenta? <a href="{% url 'iniciar_sesion' %}" class="text-white-50 fw-bold">Inicia sesion</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}